<template>
  <AppProvider>
    <div class="product-page" v-if="post">
      <b-row>
        <b-col cols="12" md="6">
          <b-img class="product-page__img" :src="post.thumbnailUrl"></b-img>
        </b-col>
        <b-col cols="12" md="6">
          <h5 class="product-page__title">{{ post.title.toUpperCase() }}</h5>
          <span class="product-page__description"
            >{{ post.title }} {{ post.title }}</span
          >
          <b-row class="py-5">
            <b-col cols="6">
              <span class="product-page__price"
                >{{ post.price.toLocaleString("RU") }} сум</span
              >
            </b-col>
            <b-col cols="6" align="end">
              <b-button
                @click="onAddToCart(post)"
                class="product-page__addtocart-button"
                variant="primary"
                pill
                >Add to cart</b-button
              >
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </AppProvider>
</template>

<script>
import AppProvider from "../../../components/AppProvider.vue";
import { BRow, BCol, BButton, BImg } from "bootstrap-vue";
import { mapState, mapActions, mapMutations } from "vuex";
export default {
  components: {
    BRow,
    BCol,
    BButton,
    BImg,

    AppProvider,
  },
  data() {
    return {
      post: null,
    };
  },
  computed: {
    ...mapState({}),
  },
  created() {
    this.getPost();
  },
  methods: {
    ...mapActions({
      fetchPost: "fetchPost",
    }),
    ...mapMutations({
      addToCart: "ADD_TOCART",
    }),
    async getPost() {
      const post = await this.fetchPost(this.$route.params.id);

      const modifiedPost = {
        ...post.data,
        count: 1,
        price: 5000 + post.data.id,
      };

      this.post = modifiedPost;
    },
    onAddToCart(item) {
      this.addToCart(item);
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.product-page {
  padding: 48px;
  @media only screen and (max-width: 560px) {
    padding: 8px;
  }

  &__addtocart-button {
    padding: 12px 36px;
    font-weight: 600;
    &:hover {
      background-color: rgb(78, 78, 78) !important;
      border-color: rgb(78, 78, 78);
    }
  }

  &__title {
    @media only screen and (max-width: 560px) {
      padding: 8px 0;
    }
  }
  &__img {
    width: 100%;
    border-radius: $radius-primary;
  }
  &__price {
    font-size: 20px;
    font-weight: 500;
  }
}
</style>