<template>
  <router-link class="product-card-link" :to="`/products/${to}`">
    <b-card border-variant="light" img-top class="product-card">
      <figure class="product-card__img">
        <b-card-img :src="img" :alt="title"></b-card-img>
      </figure>
      <b-card-title class="product-card__title">{{ title }}</b-card-title>
      <b-card-title class="product-card__description">{{
        description
      }}</b-card-title>
    </b-card>
  </router-link>
</template>

<script>
import {
  BRow,
  BCol,
  BButton,
  BImg,
  BCard,
  BCardTitle,
  BCardImg,
} from "bootstrap-vue";
export default {
  components: {
    BRow,
    BCol,
    BButton,
    BImg,
    BCard,
    BCardTitle,
    BCardImg,
  },
  props: {
    title: {
      type: String,
      default: "Default title",
    },
    to: Number,
    img: String,
    description: String,
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.product-card-link {
  & * {
    text-decoration: none;
  }
  &:hover {
    & .base-card__details {
      text-decoration: none !important;
    }
  }

  display: block;
  color: $primary;
  padding: 16px 0;
  border-radius: 16px;

  .card-body {
    padding: 0;
    border: 1px solid $secondary;
    border-radius: 16px;
  }
  .product-card {
    max-width: 20rem;
    @media only screen and (max-width: 560px) {
     max-width: 100%;
    }
    &__title {
      font-size: 20px;
      font-weight: bold;
      padding: 8px;
    }
    &__img img {
      border-radius: 16px;
    }
    &__description {
      font-size: 16px;
      font-weight: 500;
      color: $secondary;
    }
  }
}
</style>