<template>
  <AppProvider>
    <h3 class="text-center pt-5" v-if="cart.length == 0">
      Ваша корзина пусто!
    </h3>

    <div class="cart-items" v-for="item in cart" :key="item.id">
      <b-row>
        <b-col cols="12" md="2">
          <b-img class="cart-items__img" :src="item.thumbnailUrl"></b-img>
        </b-col>
        <b-col cols="12" md="10">
          <h5 class="cart-items__title">{{ item.title.toUpperCase() }}</h5>
          <b-row class="py-4">
            <b-col cols="6">
              <span class="cart-items__price"
                >{{ item.price.toLocaleString("RU") }} сум</span
              >
            </b-col>
            <b-col cols="6" align="end">
              <b-button
                @click="onDecrease(item)"
                class="cart-items__decrease"
                variant="primary"
                pill
                >-</b-button
              >
              <span class="cart-items__count">{{ item.count }}</span>
              <b-button
                @click="onIncrease(item)"
                class="cart-items__increase"
                variant="primary"
                pill
                >+</b-button
              >
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </AppProvider>
</template>

<script>
import AppProvider from "../components/AppProvider.vue";
import { BRow, BCol, BButton, BImg } from "bootstrap-vue";
import { mapState, mapActions, mapMutations } from "vuex";
export default {
  components: {
    BRow,
    BCol,
    BImg,
    BButton,

    AppProvider,
  },
  computed: {
    ...mapState({
      cart: (state) => state.cart,
    }),
  },
  methods: {
    ...mapMutations({
      increase: "INCREMENT",
      decrease: "DECREMENT",
    }),
    onIncrease(item) {
      this.increase(item);
    },
    onDecrease(item) {
      this.decrease(item);
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.cart-items {
  padding: 32px 0;

  &__increase {
    padding: 4px 16px;
    font-weight: 600;
    &:hover {
      background-color: rgb(78, 78, 78) !important;
      border-color: rgb(78, 78, 78);
    }
  }
  &__decrease {
    padding: 4px 16px;
    font-weight: 600;
    &:hover {
      background-color: rgb(78, 78, 78) !important;
      border-color: rgb(78, 78, 78);
    }
  }

  &__count {
    font-size: 20px;
    font-weight: 500;
    padding: 0 16px;
    vertical-align: middle;
  }
  &__img {
    width: 100%;
    border-radius: $radius-primary;
    @media only screen and (max-width: 560px) {
      max-height: 150px;
    }
  }
  &__title {
    @media only screen and (max-width: 560px) {
      padding: 8px 0;
    }
  }
  &__price {
    font-size: 20px;
    font-weight: 500;
  }
}
</style>