<template>
  <div class="login">
    <b-container>
      <b-row>
        <b-col cols="12" md="6" order-md="1" order="2"
          ><div class="login__left-part">
            <h2>Login</h2>
            <div class="pt-4">
              <b-form-group label="Username" label-for="username">
                <b-form-input
                  id="username"
                  autofocus
                  placeholder="Username"
                  v-model="username"
                  :state="stateUsername"
                ></b-form-input>
              </b-form-group>
              <b-form-group label="Password" label-for="password">
                <b-form-input
                  id="password"
                  placeholder="Password"
                  v-model="password"
                  :state="statePassword"
                ></b-form-input>
              </b-form-group>
              <span v-if="isHaveDetails" class="login__errors"
                >Ваш логин или пароль неправильный!</span
              >
              <div>
                <b-button @click="onSubmit" pill variant="primary"
                  >Login</b-button
                >
              </div>
            </div>
          </div></b-col
        >
        <b-col cols="12" md="6" order-md="2" order="1"
          ><div class="login__right-part">
            <b-img :src="require('../static/login.png')" /></div
        ></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import {
  BContainer,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BImg,
  BFormGroup,
} from "bootstrap-vue";
import { mapState, mapActions } from "vuex";
export default {
  components: {
    BContainer,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BImg,
    BFormGroup,
  },
  data() {
    return {
      username: null,
      password: null,
      isHaveDetails: false,
    };
  },
  computed: {
    ...mapState({
      userData: (state) => state.userData,
    }),
    stateUsername() {
      if (this.username) {
        return this.username.length > 4 ? true : false;
      }
    },
    statePassword() {
      if (this.password) {
        return this.password.length > 4 ? true : false;
      }
    },
  },
  methods: {
    ...mapActions({
      setUserData: "setUserData",
    }),
    onSubmit() {
      if (!this.username || !this.password) {
        this.isHaveDetails = true;
        return;
      }
      this.isHaveDetails = false;
      this.setUserData({ username: this.username, password: this.password });
    },
  },
  watch: {
    userData(newValue) {
      if (newValue) {
        this.$router.push({ name: "Home" });
      }
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.login {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  &__errors {
    font-size: 14px;
    color: red;
  }
  img {
    width: 300px;
    height: 410px;
    @media only screen and (max-width: 560px) {
      width: 120px;
      height: 150px;
    }
  }

  &__left-part {
    padding: 96px 24px;
    input {
      width: 80%;
      border-radius: 16px;
      padding: 24px 32px;
      background: $graysome;
      border: 0;
      @media only screen and (max-width: 560px) {
        width: 100%;
      }
    }
    button {
      width: 80%;
      padding: 8px 0;
      margin-top: 16px;
      font-weight: 600;
      &:hover {
        background-color: rgb(78, 78, 78) !important;
        border-color: rgb(78, 78, 78) !important;
      }
      @media only screen and (max-width: 560px) {
         width: 100%;
      }
    }
    @media only screen and (max-width: 560px) {
      padding: 32px 16px;
    }
  }

  &__right-part {
    background: $graysome;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    padding: 48px;
    @media only screen and (max-width: 560px) {
      background: #fff;
      padding: 0;
    }
  }
}
</style>