<template>
  <AppProvider>
    <b-row class="my-3">
      <b-col cols="12" md="4" v-for="post in filteredPosts" :key="post.id"
        ><ProductCard
          :img="post.thumbnailUrl"
          :title="post.title"
          :to="post.id"
      /></b-col>
    </b-row>
  </AppProvider>
</template>

<script>
import AppProvider from "../../../components/AppProvider.vue";
import ProductCard from "../../../components/products/ProductCard.vue";
import { BContainer, BRow, BCol, BFormInput, BButton } from "bootstrap-vue";
import { mapState, mapActions } from "vuex";
export default {
  components: {
    BContainer,
    BRow,
    BCol,
    BFormInput,
    BButton,

    AppProvider,
    ProductCard,
  },
  created() {
    this.fetchPosts();
  },
  computed: {
    ...mapState({
      filteredPosts: (state) => state.filteredPosts.slice(0, 42),
    }),
  },
  methods: {
    ...mapActions({
      fetchPosts: "fetchPosts",
    }),
  },
};
</script>
