<template>
  <b-container>
    <Navbar />
    <slot />
  </b-container>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import { BContainer } from "bootstrap-vue";
export default {
  components: {
    BContainer,
    Navbar,
  },
};
</script>

<style>
</style>