<template>
  <div class="py-3 navbar-custom">
    <b-row
      ><b-col cols="4" md="2"
        ><router-link class="navbar-custom__logo" to="/"
          >Logo</router-link
        ></b-col
      ><b-col cols="12" md="8" order-md="2" order="3"
        ><div class="navbar-custom__block">
          <b-form-input
            v-if="
              currentRouteName !== 'Cart' &&
              currentRouteName !== 'products-view'
            "
            class="search-input"
            @input="onTyping"
            v-model="searchText"
            placeholder="Search..."
          />
          <b-button
            v-if="currentRouteName !== 'products'"
            to="/products"
            class="navbar-custom__login-button"
            pill
            variant="secondary"
            >Products List</b-button
          >
          <b-button
            to="/cart"
            class="navbar-custom__cart-button"
            pill
            variant="secondary"
            >Cart
            <b-badge v-if="cart.length > 0" variant="danger">{{
              cart.length
            }}</b-badge></b-button
          >
        </div></b-col
      ><b-col cols="8" md="2" align="end" order-md="3" order="2"
        ><b-button
          @click="onLogout"
          class="navbar-custom__login-button"
          pill
          variant="primary"
          to="/login"
          >Logout</b-button
        ></b-col
      ></b-row
    >
  </div>
</template>

<script>
import {
  BContainer,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BBadge,
} from "bootstrap-vue";
import { mapMutations, mapState } from "vuex";
export default {
  components: {
    BContainer,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BBadge,
  },
  data() {
    return {
      searchText: null,
    };
  },
  computed: {
    ...mapState({
      posts: (state) => state.posts,
      cart: (state) => state.cart,
    }),
    currentRouteName() {
      return this.$route.name;
    },
  },
  methods: {
    ...mapMutations({
      logout: "LOG_OUT",
      search: "SET_SEARCHTEXT",
    }),
    onLogout() {
      this.logout();
    },
    onTyping() {
      this.search(this.searchText);
    },
  },
};
</script>

<style lang="scss">
.navbar-custom {
  &__logo {
    font-size: 28px;
    font-weight: 600;
    color: #212121;
  }
  &__block {
    @media only screen and (max-width: 560px) {
      margin-top: 16px;
    }
  }
  &__login-button {
    padding: 12px 36px;
    font-weight: 600;
    vertical-align: baseline;
    margin-left: 24px;
    @media only screen and (max-width: 560px) {
      margin: 0;
    }
    &:hover {
      background-color: rgb(78, 78, 78) !important;
      border-color: rgb(78, 78, 78);
    }
  }
  &__cart-button {
    padding: 12px 36px;
    font-weight: 600;
    vertical-align: baseline;
    float: right;
    &:hover {
      background-color: rgb(78, 78, 78) !important;
      border-color: rgb(78, 78, 78);
    }
  }
  .search-input {
    border-radius: 16px;
    padding: 24px 32px;
    width: 350px;
    background: #f6f6f6;
    border: 0;
    display: inline-block;
    @media only screen and (max-width: 560px) {
      margin-bottom: 16px;
      width: 100%;
    }
  }
}
</style>